@model IEnumerable<WebRhProject.Models.Holerite>


@{
    ViewData["Title"] = "Holerites";
}

<h1>Holerites</h1>

<p>
    <a asp-action="Create">Lançar novo holerite</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Colaborador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MesAno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalarioBruto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescontoINSS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescontoIRRF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorasNormais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalarioLiquido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DependentesHolerite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Colaborador.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MesAno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalarioBruto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescontoINSS)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.DescontoIRRF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorasNormais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalarioLiquido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DependentesHolerite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
